<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.carbon.wms.mapper.WmsReplenishApplyMapper">
    
    <resultMap type="WmsReplenishApply" id="WmsReplenishApplyResult">
        <result property="id"    column="id"    />
        <result property="serialNo"    column="serial_no"    />
        <result property="status"    column="status"    />
        <result property="applyUser"    column="apply_user"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="applyStatus"    column="apply_status"    />
        <result property="auditUser"    column="audit_user"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditComment"    column="audit_comment"    />
        <result property="remark"    column="remark"    />
        <result property="purchaseApplyFlag"    column="purchase_apply_flag"    />
    </resultMap>

    <resultMap id="WmsReplenishApplyWmsReplenishApplyDetailResult" type="WmsReplenishApply" extends="WmsReplenishApplyResult">
        <collection property="wmsReplenishApplyDetailList" notNullColumn="id" javaType="java.util.List" resultMap="WmsReplenishApplyDetailResult" />
    </resultMap>

    <resultMap type="WmsReplenishApplyDetail" id="WmsReplenishApplyDetailResult">
        <result property="id"    column="id"    />
        <result property="applyId"    column="apply_id"    />
        <result property="materialId"    column="material_id"    />
        <result property="quantity"    column="quantity"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="whRegionId"    column="wh_region_id"    />
        <result property="whLocationId"    column="wh_location_id"    />
        <result property="detailRemark"    column="detail_remark"    />
    </resultMap>

    <sql id="selectWmsReplenishApplyVo">
        select id, serial_no, status, apply_user, apply_time, apply_status, audit_user, audit_time, audit_status, audit_comment, remark, purchase_apply_flag from wms_replenish_apply
    </sql>

    <select id="selectWmsReplenishApplyList" parameterType="WmsReplenishApply" resultMap="WmsReplenishApplyResult">
        <include refid="selectWmsReplenishApplyVo"/>
        <where>  
            <if test="serialNo != null  and serialNo != ''"> and serial_no like concat('%', #{serialNo}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="applyUser != null  and applyUser != ''"> and apply_user = #{applyUser}</if>
            <if test="params.beginApplyTime != null and params.beginApplyTime != '' and params.endApplyTime != null and params.endApplyTime != ''"> and apply_time between #{params.beginApplyTime} and #{params.endApplyTime}</if>
            <if test="applyStatus != null  and applyStatus != ''"> and apply_status = #{applyStatus}</if>
            <if test="params.applyStatusList != null"> and apply_status in
                <foreach collection="params.applyStatusList" item="applyStatus" open="(" close=")" separator=",">
                    #{applyStatus}
                </foreach>
            </if>
            <if test="auditUser != null  and auditUser != ''"> and audit_user = #{auditUser}</if>
            <if test="params.beginAuditTime != null and params.beginAuditTime != '' and params.endAuditTime != null and params.endAuditTime != ''"> and audit_time between #{params.beginAuditTime} and #{params.endAuditTime}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
            <if test="purchaseApplyFlag != null  and purchaseApplyFlag != ''"> and purchase_apply_flag = #{purchaseApplyFlag}</if>
        </where>
    </select>
    
    <select id="selectWmsReplenishApplyById" parameterType="Long" resultMap="WmsReplenishApplyWmsReplenishApplyDetailResult">
        select a.id, a.serial_no, a.status, a.apply_user, a.apply_time, a.apply_status, a.audit_user, a.audit_time, a.audit_status, a.audit_comment, a.remark, a.purchase_apply_flag,
            b.id, b.apply_id, b.material_id, b.quantity, b.warehouse_id, b.wh_region_id, b.wh_location_id, b.detail_remark
        from wms_replenish_apply a
        left join wms_replenish_apply_detail b on b.apply_id = a.id
        where a.id = #{id}
    </select>
        
    <insert id="insertWmsReplenishApply" parameterType="WmsReplenishApply" useGeneratedKeys="true" keyProperty="id">
        insert into wms_replenish_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serialNo != null">serial_no,</if>
            <if test="status != null">status,</if>
            <if test="applyUser != null">apply_user,</if>
            <if test="applyTime != null">apply_time,</if>
            <if test="applyStatus != null">apply_status,</if>
            <if test="auditUser != null">audit_user,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="auditComment != null">audit_comment,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serialNo != null">#{serialNo},</if>
            <if test="status != null">#{status},</if>
            <if test="applyUser != null">#{applyUser},</if>
            <if test="applyTime != null">#{applyTime},</if>
            <if test="applyStatus != null">#{applyStatus},</if>
            <if test="auditUser != null">#{auditUser},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="auditComment != null">#{auditComment},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWmsReplenishApply" parameterType="WmsReplenishApply">
        update wms_replenish_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="serialNo != null">serial_no = #{serialNo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="applyUser != null">apply_user = #{applyUser},</if>
            <if test="applyTime != null">apply_time = #{applyTime},</if>
            <if test="applyStatus != null">apply_status = #{applyStatus},</if>
            <if test="auditUser != null">audit_user = #{auditUser},</if>
            audit_time = #{auditTime},
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="auditComment != null">audit_comment = #{auditComment},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmsReplenishApplyById" parameterType="Long">
        delete from wms_replenish_apply where id = #{id}
    </delete>

    <delete id="deleteWmsReplenishApplyByIds" parameterType="String">
        delete from wms_replenish_apply where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteWmsReplenishApplyDetailByApplyIds" parameterType="String">
        delete from wms_replenish_apply_detail where apply_id in 
        <foreach item="applyId" collection="array" open="(" separator="," close=")">
            #{applyId}
        </foreach>
    </delete>

    <delete id="deleteWmsReplenishApplyDetailByApplyId" parameterType="Long">
        delete from wms_replenish_apply_detail where apply_id = #{applyId}
    </delete>

    <insert id="batchWmsReplenishApplyDetail">
        insert into wms_replenish_apply_detail( apply_id, material_id, quantity, warehouse_id, wh_region_id, wh_location_id, detail_remark) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.applyId}, #{item.materialId}, #{item.quantity}, #{item.warehouseId}, #{item.whRegionId}, #{item.whLocationId}, #{item.detailRemark})
        </foreach>
    </insert>

    <update id="update" parameterType="WmsReplenishApply">
        update wms_replenish_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="serialNo != null">serial_no = #{serialNo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="applyUser != null">apply_user = #{applyUser},</if>
            <if test="applyTime != null">apply_time = #{applyTime},</if>
            <if test="applyStatus != null">apply_status = #{applyStatus},</if>
            <if test="auditUser != null">audit_user = #{auditUser},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="auditComment != null">audit_comment = #{auditComment},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="purchaseApplyFlag != null and purchaseApplyFlag != ''">purchase_apply_flag = #{purchaseApplyFlag},</if>
        </trim>
        where id = #{id}
    </update>
</mapper>