<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.carbon.mes.mapper.MesProductPlanDetailMapper">
    
    <resultMap type="MesProductPlanDetail" id="MesProductPlanDetailResult">
        <result property="id"    column="id"    />
        <result property="planId"    column="plan_id"    />
        <result property="materialId"    column="material_id"    />
        <result property="bomId"    column="bom_id"    />
        <result property="quantity"    column="quantity"    />
        <result property="productDate"    column="product_date"    />
        <result property="materialCode"    column="material_code"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialModel"    column="material_model"    />
        <result property="materialSpecification"    column="material_specification"    />
        <result property="materialUnit"    column="material_unit"    />
        <result property="planNo"    column="plan_no"    />
        <result property="projectId"    column="project_id"    />
        <result property="deliveryDate"    column="delivery_date"    />
    </resultMap>

    <sql id="selectMesProductPlanDetailVo">
        SELECT
		  t.id,
		  t.plan_id,
		  t.material_id,
		  t.bom_id,
		  t.quantity,
		  t.product_date,
		  p.`serial_no` plan_no,
		  p.project_id,
		  p.delivery_date,
		  m.`name` material_name,
		  m.`code` material_code,
		  m.`model` material_model,
		  m.`specification` material_specification,
		  m.`unit` material_unit
		FROM
		  mes_product_plan_detail t
		  LEFT JOIN `mes_product_plan` p
		    ON p.`id` = t.`plan_id`
		  LEFT JOIN `wms_material_info` m
		    ON m.`id` = t.`material_id`
    </sql>

    <select id="selectMesProductPlanDetailList" parameterType="MesProductPlanDetail" resultMap="MesProductPlanDetailResult">
        <include refid="selectMesProductPlanDetailVo"/>
        <where>  
            <if test="planId != null "> and t.plan_id = #{planId}</if>
            <if test="materialId != null "> and t.material_id = #{materialId}</if>
            <if test="quantity != null "> and t.quantity = #{quantity}</if>
            <if test="productDate != null "> and t.product_date = #{productDate}</if>
            <if test="materialName != null  and materialName != ''"> and m.`material_name` = #{materialName}</if>
            <if test="planNo != null  and planNo != ''"> and p.`serial_no` = #{planNo}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and p.`audit_status` = #{auditStatus}</if>
        </where>
    </select>
    
    <select id="selectMesProductPlanDetailById" parameterType="Long" resultMap="MesProductPlanDetailResult">
        <include refid="selectMesProductPlanDetailVo"/>
        where t.id = #{id}
    </select>
        
    <insert id="insertMesProductPlanDetail" parameterType="MesProductPlanDetail" useGeneratedKeys="true" keyProperty="id">
        insert into mes_product_plan_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planId != null">plan_id,</if>
            <if test="materialId != null">material_id,</if>
            <if test="bomId != null">bom_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="productDate != null">product_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planId != null">#{planId},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="bomId != null">#{bomId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="productDate != null">#{productDate},</if>
         </trim>
    </insert>

    <update id="updateMesProductPlanDetail" parameterType="MesProductPlanDetail">
        update mes_product_plan_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="planId != null">plan_id = #{planId},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="bomId != null">bom_id = #{bomId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="productDate != null">product_date = #{productDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMesProductPlanDetailById" parameterType="Long">
        delete from mes_product_plan_detail where id = #{id}
    </delete>

    <delete id="deleteMesProductPlanDetailByIds" parameterType="String">
        delete from mes_product_plan_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>