<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.carbon.distribusion.mapper.DistribusionTotalEmissionMapper">

    <resultMap type="DistribusionTotalEmission" id="DistribusionTotalEmissionResult">
        <result property="id"    column="id"    />
        <result property="storageEmission"    column="storage_emission"    />
        <result property="payEmission"    column="pay_emission"    />
    </resultMap>

    <sql id="selectDistribusionTotalEmissionVo">
        select id, storage_emission, pay_emission from distribusion_total_emission
    </sql>

    <select id="selectDistribusionTotalEmissionList" parameterType="DistribusionTotalEmission" resultMap="DistribusionTotalEmissionResult">
        <include refid="selectDistribusionTotalEmissionVo"/>
        <where>
            <if test="storageEmission != null  and storageEmission != ''"> and storage_emission = #{storageEmission}</if>
            <if test="payEmission != null  and payEmission != ''"> and pay_emission = #{payEmission}</if>
        </where>
    </select>

    <select id="selectDistribusionTotalEmissionById" parameterType="Long" resultMap="DistribusionTotalEmissionResult">
        <include refid="selectDistribusionTotalEmissionVo"/>
        where id = #{id}
    </select>

    <insert id="insertDistribusionTotalEmission" parameterType="DistribusionTotalEmission" useGeneratedKeys="true" keyProperty="id">
        insert into distribusion_total_emission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storageEmission != null">storage_emission,</if>
            <if test="payEmission != null">pay_emission,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storageEmission != null">#{storageEmission},</if>
            <if test="payEmission != null">#{payEmission},</if>
         </trim>
    </insert>

    <update id="updateDistribusionTotalEmission" parameterType="DistribusionTotalEmission">
        update distribusion_total_emission
        <trim prefix="SET" suffixOverrides=",">
            <if test="storageEmission != null">storage_emission = #{storageEmission},</if>
            <if test="payEmission != null">pay_emission = #{payEmission},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDistribusionTotalEmissionById" parameterType="Long">
        delete from distribusion_total_emission where id = #{id}
    </delete>

    <delete id="deleteDistribusionTotalEmissionByIds" parameterType="String">
        delete from distribusion_total_emission where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
