<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.carbon.bid.mapper.BidBannerMapper">
    
    <resultMap type="BidBanner" id="BidBannerResult">
        <result property="id"    column="id"    />
        <result property="url"    column="url"    />
    </resultMap>

    <sql id="selectBidBannerVo">
        select id, url from bid_banner
    </sql>

    <select id="selectBidBannerList" parameterType="BidBanner" resultMap="BidBannerResult">
        <include refid="selectBidBannerVo"/>
        <where>  
            <if test="url != null  and url != ''"> and url = #{url}</if>
        </where>
    </select>
    
    <select id="selectBidBannerById" parameterType="Long" resultMap="BidBannerResult">
        <include refid="selectBidBannerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBidBanner" parameterType="BidBanner" useGeneratedKeys="true" keyProperty="id">
        insert into bid_banner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="url != null">url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="url != null">#{url},</if>
         </trim>
    </insert>

    <update id="updateBidBanner" parameterType="BidBanner">
        update bid_banner
        <trim prefix="SET" suffixOverrides=",">
            <if test="url != null">url = #{url},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBidBannerById" parameterType="Long">
        delete from bid_banner where id = #{id}
    </delete>

    <delete id="deleteBidBannerByIds" parameterType="String">
        delete from bid_banner where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>