<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.carbon.scm.mapper.ScmPurchasePlanMapper">
    
    <resultMap type="ScmPurchasePlan" id="ScmPurchasePlanResult">
        <result property="id"    column="id"    />
        <result property="purchasePlanNo"    column="purchase_plan_no"    />
        <result property="applyUser"    column="apply_user"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="applyStatus"    column="apply_status"    />
        <result property="auditUser"    column="audit_user"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditComment"    column="audit_comment"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap id="ScmPurchasePlanScmPurchasePlanDetailResult" type="ScmPurchasePlan" extends="ScmPurchasePlanResult">
        <collection property="scmPurchasePlanDetailList" notNullColumn="id" javaType="java.util.List" resultMap="ScmPurchasePlanDetailResult" />
    </resultMap>

    <resultMap type="ScmPurchasePlanDetail" id="ScmPurchasePlanDetailResult">
        <result property="id"    column="id"    />
        <result property="purchasePlanId"    column="purchase_plan_id"    />
        <result property="materialId"    column="material_id"    />
        <result property="quantity"    column="quantity"    />
        <result property="requireQuantity"    column="require_quantity"    />
        <result property="requireDate"    column="require_date"    />
        <result property="detailRemark"    column="detail_remark"    />
    </resultMap>

    <sql id="selectScmPurchasePlanVo">
        select id, purchase_plan_no, apply_user, apply_time, apply_status, audit_user, audit_time, audit_status, audit_comment, remark from scm_purchase_plan
    </sql>

    <select id="selectScmPurchasePlanList" parameterType="ScmPurchasePlan" resultMap="ScmPurchasePlanResult">
        <include refid="selectScmPurchasePlanVo"/>
        <where>  
            <if test="purchasePlanNo != null  and purchasePlanNo != ''"> and purchase_plan_no like concat('%', #{purchasePlanNo}, '%')</if>
            <if test="applyUser != null  and applyUser != ''"> and apply_user = #{applyUser}</if>
            <if test="params.beginApplyTime != null and params.beginApplyTime != '' and params.endApplyTime != null and params.endApplyTime != ''"> and apply_time between #{params.beginApplyTime} and #{params.endApplyTime}</if>
            <if test="applyStatus != null  and applyStatus != ''"> and apply_status = #{applyStatus}</if>
            <if test="params.applyStatusList != null"> and apply_status in
                <foreach collection="params.applyStatusList" item="applyStatus" open="(" close=")" separator=",">
                    #{applyStatus}
                </foreach>
            </if>
            <if test="auditUser != null  and auditUser != ''"> and audit_user = #{auditUser}</if>
            <if test="params.beginAuditTime != null and params.beginAuditTime != '' and params.endAuditTime != null and params.endAuditTime != ''"> and audit_time between #{params.beginAuditTime} and #{params.endAuditTime}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
        </where>
    </select>
    
    <select id="selectScmPurchasePlanById" parameterType="Long" resultMap="ScmPurchasePlanScmPurchasePlanDetailResult">
        select a.id, a.purchase_plan_no, a.apply_user, a.apply_time, a.apply_status, a.audit_user, a.audit_time, a.audit_status, a.audit_comment, a.remark,
            b.id, b.purchase_plan_id, b.material_id, b.quantity, b.require_quantity, b.require_date, b.detail_remark
        from scm_purchase_plan a
        left join scm_purchase_plan_detail b on b.purchase_plan_id = a.id
        where a.id = #{id}
    </select>
        
    <insert id="insertScmPurchasePlan" parameterType="ScmPurchasePlan" useGeneratedKeys="true" keyProperty="id">
        insert into scm_purchase_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="purchasePlanNo != null">purchase_plan_no,</if>
            <if test="applyUser != null">apply_user,</if>
            <if test="applyTime != null">apply_time,</if>
            <if test="applyStatus != null">apply_status,</if>
            <if test="auditUser != null">audit_user,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="auditComment != null">audit_comment,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="purchasePlanNo != null">#{purchasePlanNo},</if>
            <if test="applyUser != null">#{applyUser},</if>
            <if test="applyTime != null">#{applyTime},</if>
            <if test="applyStatus != null">#{applyStatus},</if>
            <if test="auditUser != null">#{auditUser},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="auditComment != null">#{auditComment},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateScmPurchasePlan" parameterType="ScmPurchasePlan">
        update scm_purchase_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="purchasePlanNo != null">purchase_plan_no = #{purchasePlanNo},</if>
            <if test="applyUser != null">apply_user = #{applyUser},</if>
            <if test="applyTime != null">apply_time = #{applyTime},</if>
            <if test="applyStatus != null">apply_status = #{applyStatus},</if>
            <if test="auditUser != null">audit_user = #{auditUser},</if>
            audit_time = #{auditTime},
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="auditComment != null">audit_comment = #{auditComment},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScmPurchasePlanById" parameterType="Long">
        delete from scm_purchase_plan where id = #{id}
    </delete>

    <delete id="deleteScmPurchasePlanByIds" parameterType="String">
        delete from scm_purchase_plan where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteScmPurchasePlanDetailByPurchasePlanIds" parameterType="String">
        delete from scm_purchase_plan_detail where purchase_plan_id in 
        <foreach item="purchasePlanId" collection="array" open="(" separator="," close=")">
            #{purchasePlanId}
        </foreach>
    </delete>

    <delete id="deleteScmPurchasePlanDetailByPurchasePlanId" parameterType="Long">
        delete from scm_purchase_plan_detail where purchase_plan_id = #{purchasePlanId}
    </delete>

    <insert id="batchScmPurchasePlanDetail">
        insert into scm_purchase_plan_detail(purchase_plan_id, material_id, quantity, require_quantity, require_date, detail_remark) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.purchasePlanId}, #{item.materialId}, #{item.quantity}, #{item.requireQuantity}, #{item.requireDate}, #{item.detailRemark})
        </foreach>
    </insert>
</mapper>