<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.carbon.scm.mapper.ScmSaleDeliveryDetailMapper">
    
    <resultMap type="ScmSaleDeliveryDetail" id="ScmSaleDeliveryDetailResult">
        <result property="id"    column="id"    />
        <result property="deliveryId"    column="delivery_id"    />
        <result property="materialId"    column="material_id"    />
        <result property="quantity"    column="quantity"    />
        <result property="returnQuantity"    column="return_quantity"    />
        <result property="detailRemark"    column="detail_remark"    />
    </resultMap>

    <sql id="selectScmSaleDeliveryDetailVo">
        select id, delivery_id, material_id, quantity, return_quantity, detail_remark from scm_sale_delivery_detail
    </sql>

    <select id="selectScmSaleDeliveryDetailList" parameterType="ScmSaleDeliveryDetail" resultMap="ScmSaleDeliveryDetailResult">
        <include refid="selectScmSaleDeliveryDetailVo"/>
        <where>  
            <if test="materialId != null "> and material_id = #{materialId}</if>
        </where>
    </select>
    
    <select id="selectScmSaleDeliveryDetailById" parameterType="Long" resultMap="ScmSaleDeliveryDetailResult">
        <include refid="selectScmSaleDeliveryDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertScmSaleDeliveryDetail" parameterType="ScmSaleDeliveryDetail" useGeneratedKeys="true" keyProperty="id">
        insert into scm_sale_delivery_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deliveryId != null">delivery_id,</if>
            <if test="materialId != null">material_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="returnQuantity != null">return_quantity,</if>
            <if test="detailRemark != null">detail_remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deliveryId != null">#{deliveryId},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="returnQuantity != null">returnQuantity,</if>
            <if test="detailRemark != null">#{detailRemark},</if>
         </trim>
    </insert>

    <update id="updateScmSaleDeliveryDetail" parameterType="ScmSaleDeliveryDetail">
        update scm_sale_delivery_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="deliveryId != null">delivery_id = #{deliveryId},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="returnQuantity != null">return_quantity = #{returnQuantity},</if>
            <if test="detailRemark != null">detail_remark = #{detailRemark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScmSaleDeliveryDetailById" parameterType="Long">
        delete from scm_sale_delivery_detail where id = #{id}
    </delete>

    <delete id="deleteScmSaleDeliveryDetailByIds" parameterType="String">
        delete from scm_sale_delivery_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>